.sidenav-email {
  font-size: 10px !important;
  margin-top: 0px !important;
}

.sidenav-userName {
  font-size: 30px !important;
  margin-bottom: 5px !important;
  margin-top: 0px !important;
}

.sidenav-logo {
  margin-bottom: 25px !important;
  margin-top: 25px !important;
}

.sidenav-login-logo {
  margin-bottom: 30px !important;
  margin-top: 5px !important;
}
