.section-note input {
  padding: 1px !important;
  font-size: 18px !important;
  width: 100% !important;
  border: 1px solid !important;
  border-radius: 5px !important;
}

.button-margin {
  margin-bottom: 10px !important;
}
